/* Colors */
$main-bg-color = $true-white-color;
$true-white-color = #ffffff;
$true-black-color = #000000;
$primary-color = #2196f3;
$secondary-color = #40a9ff;
$danger-color = #ff4d4f;
$danger-secondary-color = #d9363e;
$dark-gray-color = #4a4a4a;
$light-gray-color = #dedede;
$green-color = #228b22;

/* Fonts */
$font-family-base = 'Open Sans', sans-serif;
$font-size-base = 16px;
